* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background: slateblue;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-h1 {
    color: white;
    padding: 32px;
}

.content-wrapper {
    padding: 32px;
    display: flex;
    justify-content: center;
}

.content {
    padding: 64px;
    height: 20vh;
}

.content p {
    font-size: 1.5rem;
}

.features {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 32px;
}


img {
    width: 220px;
    height: 220px;
}

.footer {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer button {
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: slateblue;
    color: white;
    cursor: pointer;
    border: none;
}